name: Busybox binaries download
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  schedule:
    - cron: "0 12 7 * *"
  workflow_dispatch:

jobs:
  sync-files:
    name: "Run"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source repository"
        uses: actions/checkout@v6

      - name: "Download binaries"
        run: |
          architectures="i686 x86_64"
          for arch in $architectures; do
             subdir=$(curl -Ls https://busybox.net/downloads/binaries/ | tr '">< ' '\n' | grep "^[0-9].*$arch.*/$" | tail -1 | sed 's#/$##g')
             source_list=$(curl -Ls https://busybox.net/downloads/binaries/"$subdir")
             wget -r -l1 --no-parent https://busybox.net/downloads/binaries/"$subdir"
             mkdir -p "$arch"-binaries
             cp -r busybox.net/downloads/binaries/"$subdir"/busybox_* "$arch"-binaries/
          done
          echo "$subdir" | tr '-' '\n' | grep "^[0-9]" | head -1 > ./version

      - name: "Upload binaries"
        run: |
          git config --global user.name "ivan-hc"
          git config --global user.email "noreply@github.com"
          git add *-binaries version
          if git diff-index --quiet HEAD; then
            echo "No changes to commit." >> $GITHUB_STEP_SUMMARY
          else
            git commit -m "Add files from source repository"
            git push && echo "Adding to Source succeeded" >> $GITHUB_STEP_SUMMARY
          fi
